<html>
  <head></head>
  <body>
    <h2>Resources for Entreprenuers in Houston (Admin Page)</h2>
    <ul>
      {{#resources}}
        <li>
          {{businessName}}
          <br>
          {{url}}
          <br>
          {{description}}
          <br>
          {{phone}}
          <br>
          {{email}}
          <br>
          Is Approved: {{isApproved}}
          <br>
          <button>Approve</button>
          <button>Update</button>
          <button><a href='/resources/{{_id}}'>Delete</a></button>
          <br>
        </li>
      {{/resources}}
    </ul>
  </body>
</html>