<html>
  <head>
    <script src="delete.js" type="text/javascript"></script>
  </head>
  <body>
    <h2>Resources for Entreprenuers in Houston (Admin Page)</h2>
    <ul>
      {{#resources}}
        <li>
          {{businessName}}
          <br>
          {{url}}
          <br>
          {{description}}
          <br>
          {{phone}}
          <br>
          {{email}}
          <br>
          Is Approved: {{isApproved}}
          <br>
          <button onclick=approveResource('{{_id}}')>Approve</button>
          <button>Update</button>
          <button onclick="deleteResource('{{_id}}')" unique_id={{_id}}>Delete</button>
          <br>
        </li>
      <br>
      {{/resources}}
    </ul>
  </body>

</html>
