<html>
  <head>
    <title>Resources for Entreprenuers in Houston | RFEIH</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  </head>
  <body class="login-body">
    <h2>Login for administrator access: </h2>
    <div class="login-form">
                  <form method='post' action='/login'>
                     <label>Enter your username:</label>
                     <input type="text" name="username"/><br>
                     <label>Enter your password:</label>
                     <input type="password" name="password"/>
                     <p><button class="btn login_button" type="submit">Login</button></p>
                  </form>
               </div>
  </body>
</html>
