body {
  font-family: 'Merriweather Sans', sans-serif;
}

.hiding-form {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00043C;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
  color:white;
}

.hiding-form a {
  text-decoration: none;
}

.header-left {
  padding: 200px 0;
  text-align: center;
}

.hiding-form a:hover {
  color: #00C9B1; }

.btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
  color:white;
}

.left-column {
    background-color: #00C9B1;
    /* height: 75vh; */
}

.nav_menu {
  display:inline-flex;
  list-style: none;
  color:white;
  font-size: 20px;
}

.navigation {
  background-color: #3A0D43;
  width:100%;
}

.li-item {
  margin:10px;
  text-transform: lowercase;
}

.resource_div {
  background-color: #FEA2AC;
  color: black;
  font-size: 60px;
  padding:100px;
  display:flex;
}

.resource-list {
  list-style: none;
  margin-top: -20px;
  margin-left:-190px;
  padding-left: 0;
}

.resource-list li:hover {
  color: #FFF; }

.the-list{
  margin:0;
}

.actual-resource-item {

}

.form-submit{
  transform: rotate(90deg);
	transform-origin: left top 0;
  margin-bottom: 0;
  margin-left: 25px;
  font-size: 30px;
}

.form-submit p:hover {
  color: #FFF; }

.the-list{

}

.admin-body{
  margin:0;
  background-color: #00C9B1;
}

.admin-list{
  list-style: none;
}

.title-admin{
 margin: 20px 0 0 30px;
}

.list-container{
  margin-top: 40px;
}

.admin-button{
  background-color: #3A0D43;
  color:#FFF;
  border-style: none;
}

.login-body{
  background-color:#FEA2AC;
  color:white;
  padding:15px;
}

.login-form{
  border-style: solid;
  padding:10px;
}

.participants-logos{
  background-color: #00C8B1;
  height:300px;
}
.participants-logos h2 {
  color:#000;
}

.part-logo-img{
  height:75px;
}

.logo-list{
  display:inline-flex;
  list-style:none;
}

.logo-container{
  padding:50px;
}

.footer {
  background-color: #00043C;
  height:600px;
  color:white;
}

.subscribe-section{
  padding: 100px 0;
  text-align: left;
  margin-left: 30px;
}

.subscribe-section input[type=text] {
  width: 160px;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #FEA2AC;
  background-color: #00043C;
}

.subscribe-section input[type=email] {
  width: 200px;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #FEA2AC;
  background-color: #00043C;
}

.subscribe-button {
  background-color: #00C8B1;
  border: none;
  padding:15px;
}

.logout-button{
  margin:30px 0 0 30px;
}

.logout-button a {
  text-decoration: none;
  color:white;
}

.events-header {
  background-color: #00043C;
  height:60vh;
}

.events-header-title{
  color:#fff;
  text-align: center;
  font-size: 80px;
  margin:auto;
  margin-top: 150px;
}

.events-body{
  background-color: #00C8B1;
}

.google-maps{
  height:700px;
}
.modal-list{
  list-style: none;
}

.modal-list a {
  text-decoration: none;
  color:#00C8B1;
}
.modal-style{
  color:#00043C;
}
