<<<<<<< HEAD
body {
  font-family: 'Merriweather Sans', sans-serif;
}
=======
/* Colors:
#F0BCD5
#3A0D43
*/
>>>>>>> 807798c899f1b73bc2e111eea1539ee8addbd133

.hiding-form {
  display: none;
}

.left-column {
    background-color: #00C9B1;
    /* height: 75vh; */
}

.header-container{
  /* height:75vh; */
}

.nav_menu{
  display:inline-flex;
  list-style: none;
  color:white;
  font-size: 20px;
}

.navigation {
  background-color: #3A0D43;
  width:100%;
}

.li-item{
  margin:10px;
  text-transform: lowercase;
}

.resource_div {
  background-color: #FEA2AC;
  color: black;
  font-size: 60px;
  padding:80px;
}

.resource-list{
  list-style: none;
  margin-left: 30px;
  margin-top: 0;
}

.actual-resource-item {
}

.form_submit{
  transform: rotate(90deg);
	transform-origin: left top 0;
  margin-bottom: 0;
  font-size: 30px;
}

.the-list{

}
